<div class="btn-group-vertical btn-block" role="group" >
    <a href="/balance/" class="btn btn-outline-primary {{ transaction ?? '' }}">Balances</a>
    <a href="/transaction/" class="btn btn-outline-primary {{ transaction ?? '' }}">Make transaction</a>
</div>